cachetools==4.2.2
dill==0.3.7
dynaconf==3.1.9
forex_python==1.8
human_id==0.2.0
matplotlib==3.5.1
numpy==1.21.5
numpy==1.22.4
pandas==1.4.3
pytest==7.1.2
scikit_learn==1.1.1
scipy==1.7.3
seaborn==0.11.2
shap==0.39.0
toml==0.10.2
xgboost~=1.5.0 # xgboost==2.0.3
yfinance==0.2.30
